* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-clip: border-box;
   color: orange;
   font-size: larger;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: x-large;
    border-bottom: 2px solid black;
}
.navbar div a{
    text-decoration: none;
    padding: 10px;
}

.Register-container {
    display: flex;
    align-items: center;

    height: 100vh;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.inner-cont {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
}

.sub-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sub-cont label {
    text-align: center;
}

.sub-cont input[type="text"] {
    width: 90%;
    height: 25px;
}

.sub-cont input[type="date"] {
    width: 90%;
    height: 25px;
}

.sub-cont input[type="email"] {
    width: 90%;
    height: 25px;
}

.button {
    width: 100px;
    height: 30px;
    margin: auto;
    border-radius: 3px;
    background: chocolate;

}
.post-container{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

}




.post-conatiner-child
{
    width: 400px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    overflow: auto;
    border-radius: 10px;
    height: 300px;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}
.post-conatiner-child1
{
    height: 200px;
}

.like-comment{
    display: flex;
    justify-content:space-around;
}
.like-comment input[type="text"]
{
    height: 30px;
    border-radius: 8px;

}
.display-comment {
    border: 1px solid blue;
    word-wrap: break-word;
    text-align: left;
    padding: 10px;
    font-size: medium;
    font-weight: 10px;
    overflow: auto; /* Add this line to enable scrolling */
    max-height: 100px; /* Set a max height for the scroll bar to appear */
}



table {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    border-collapse: collapse;
    border: 1px solid black;

}

table tr th {
    border: 1px solid black;
    padding: 7px;

}

table tr td {
    padding: 7px;
    border: 1px solid black;

}

.top-post-container {
    position: relative;


}

.Register-container1 {
    display: flex;
    align-items: center;
    height: 30vh;
    
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.inner-cont{
    position: relative;
}

.point button{
    position: absolute;
    top: 2%;
    height: 26px;
    right: 2%;
    width: 29px;
    font-size: xx-large;
}
.Profile-container{
    display: flex;
    justify-content: center;

}
.userinfo{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    gap: 10px;
    width: auto;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px;
}

.userinfo .inner-userinfo{
    display: flex;
    gap: 20px;
}